@model HotelProject.Models.Attraction
@{
    ViewBag.Title = "EditAttraction";
}
<div class="container body-content">

    <h2>EditAttraction</h2>

    @using (@Html.BeginForm("EditAttraction", "Home", FormMethod.Post))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.LabelFor(k => k.name, "Name");<br />
        @Html.EditorFor(k => k.name);<br />
    @Html.LabelFor(k => k.rating);<br />
    @Html.EditorFor(k => k.rating);<br />
    @Html.LabelFor(k => k.geometry.location, "Latitude");<br />
    @Html.EditorFor(k => k.geometry.location.lat);<br />
    @Html.LabelFor(k => k.geometry.location, "Longditude");<br />
    @Html.EditorFor(k => k.geometry.location.lng);<br />

    <br />
    <button type="submit" class="btn btn-default">Submit</button>
    }
</div>